@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --font-montserrat: 'Montserrat', 'Inter', sans-serif;
    --color-dark-green: #5E7222;
    --border-color: #97A2B0;
    --input-color: #97A2B0;
}

body {
    margin: 0;
    background-color: #F6F1ED;
    font-family: var(--font-montserrat), sans-serif;
    display: flex;
}

.content-area {
    position: relative;
    box-sizing: border-box;
    flex: 1;
    padding: 20px 20px 20px 30px;
    min-width: 0;
    min-height: 100vh;
}