.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox-content {
    padding-bottom: 5%;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightbox-content img {
    width: 100%;
    height: auto;
    max-height: 85vh;
    border: 3px solid #fff;
    border-radius: 4px;
}

#lightbox-caption {
    color: white;
    margin: 15px;
    font-size: 18px;
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.lightbox-prev, .lightbox-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding: 20px 15px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.lightbox-prev:active, .lightbox-next:active {
    transform: scale(1.2);
}
.lightbox-prev:hover, .lightbox-next:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: zoom-in;

}

.lightbox-prev { left: 10px; }
.lightbox-next { right: 10px; }

.image-wrapper img {
    cursor: zoom-in;
}