@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.sidebar {
    width: fit-content;
    position: sticky;
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 0 30px 30px 0;
    background-color: #ffffff;
    font-family: var(--font-montserrat), sans-serif;
}

.logo {
    font-family: 'Titan One', cursive;
    font-size: 40px;
    color: #f28c50;
    margin: 0 0 50px;
    width: 100%;
    line-height: 110%;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
}

.nav-item, .sub-item {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 22px;
    gap: 10px;
    text-decoration: none;
    color: #0A2533;
    transition: 0.3s;
    font-weight: 500;
}

.nav-item:hover, .sub-item:hover {
    background-color: #f5f5f5;
}

.nav-item.active {
    background-color: #f5f5f5;
}

.icon {
    width: 20px;
    height: 20px;
    color: #0A2533;
}

svg.icon {
    display: block;
}

.sidebar .icon [stroke] {
    stroke-width: 2;
}

#toggle-groups {
    gap: 12px;
}

.group-header {
    cursor: pointer;
    justify-content: space-between;
}

.group-header .add-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.nav-group.active .group-header .add-btn {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.group-header span {
    flex-grow: 1;
}

.sub-menu {
    display: none;
    flex-direction: column;
    gap: 4px;
    padding-left: 10px;
    margin-top: 2px;
}

.sub-item.active {
    background-color: #f0f0f0;
    font-weight: 600;
}

.nav-group.active .sub-menu {
    display: flex;
}

.nav-group .icon:first-child {
    transition: transform 0.3s;
}
.nav-group.active #toggle-groups .icon:first-child {
    transform: rotate(90deg);
}