@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.sidebar {
    width: fit-content;
    height: 100vh;
    box-sizing: border-box;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    border-radius: 0 30px 30px 0;
    padding: 50px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    font-family: var(--font-montserrat, sans-serif);
}

.logo {
    font-family: 'Titan One', cursive;
    font-size: 48px;
    color: #f28c50;
    margin: 0 0 50px;
    width: 100%;
    line-height: 110%;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;
    width: max-content;
}

.nav-item, .sub-item {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 14px;
    transition: 0.3s;
    font-size: 28px;
    line-height: 145%;
    font-weight: 500;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav-item:hover, .sub-item:hover {
    background-color: #f9f9f9;
}

.nav-item.active {
    background-color: #f4f4f4;
    font-weight: 600;
}

.icon {
    width: 29px;
    height: 29px;
    flex-shrink: 0;
}

#toggle-groups {
    gap: 12px;
}

.group-header {
    cursor: pointer;
    justify-content: space-between;
}

.group-header span {
    flex-grow: 1;
}

.sub-menu {
    display: none;         /* Скрыто */
    flex-direction: column;
    gap: 4px;
    padding-left: 10px;
    margin-top: 2px;
}

.sub-item.active {
    background-color: #f0f0f0;
    font-weight: 600;
}

.nav-group.active .sub-menu {
    display: flex;
}

/* Стили для стрелочки (чтобы крутилась) */
.nav-group .icon:first-child {
    transition: transform 0.3s;
}
.nav-group.active #toggle-groups .icon:first-child {
    transform: rotate(90deg);
}
