@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #fdf7f3;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.auth-page {
    width: 100%;
    height: 100vh;
    display: flex;
}

.auth-header {
    display: flex;
    justify-content: space-between; /* Разносит логотип и крестик по краям */
    align-items: center;
    width: 100%;
    margin-bottom: 30px; /* Отступ до линии/заголовка */
}

.auth-illustration {
    flex: 1;
    background-image: url('svg/auth/installation.svg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 40%;
    overflow: hidden;
}

.auth-illustration img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.auth-form-section {
    flex: 1;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px 0 0 30px;
    background: white;
}

.logo {
    font-family: 'Titan One', cursive;
    font-size: 40px;
    color: #f28c50;
    text-align: left;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: #888888;
    margin-bottom: 30px;
    flex-shrink: 0;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-title {
    font-size: 28px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 30px;
}

.input-group {
    width: 80%;
    margin: 0 0 20px 0;
}

.input-group label {
    display: block;
    font-size: 12px;
    color: #888888;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    font-size: 14px;
    color: #333;
}

.input-group input::placeholder {
    color: #cccccc;
}

.input-group input:focus {
    border-color: #5c7a29;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.auth-submit-btn {
    width: 80%;
    padding: 16px;
    background-color: #5c7a29;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 10px 0 0 0;
    display: block;
}


/* Стили для подписи снизу и ссылки */
.auth-footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888888;
    display: block;
    text-align: left;
}

.auth-footer a {
    color: #5c7a29;
    text-decoration: none;
    font-weight: 600;
    margin-left: 4px;
}